<aside class="sidebar">

    <div class="logo">
        <strong>M</strong>
        <span>MedCare</span>
    </div>

    <nav class="navigation">

        <a routerLink="/dashboard" routerLinkActive="active">
            Dashboard
        </a>

        <a routerLink="/patients" routerLinkActive="active">
            Patients
        </a>

        <a routerLink="/doctors" routerLinkActive="active">
            Doctors
        </a>

        <a routerLink="/procedures" routerLinkActive="active">
            Procedures
        </a>

        <a routerLink="/consultations" routerLinkActive="active">
            Consultations
        </a>

        <a routerLink="/payments" routerLinkActive="active">
            Payments
        </a>

        <a routerLink="/reports" routerLinkActive="active">
            Reports
        </a>

    </nav>

</aside>